<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <ComponentGroup Id="MainComponents" Directory="INSTALLFOLDER">
      <Component Id="TerminalsExe" Guid="31F8007A-749F-4A74-AB3B-1F80813CEA32">
        <File Source="$(var.Terminals.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="TerminalsExternal" Guid="79CE7381-21AF-4D69-8B2D-1773943ACFE7">
        <File Source="$(var.Terminals.External.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="TerminalsCommon" Guid="E00CC8C9-011E-4627-9ECC-4A842F2511DC">
        <File Source="$(var.Terminals.Common.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="HexEditorDll" Guid="A280B61A-9FA2-469C-9DC0-1D356FA35603">
        <File Source="$(var.HexEditor.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="MetroDll" Guid="8737AA17-03D4-4E4E-81F9-734029698ECF">
        <File Source="$(var.Metro.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="SharpPcapDll" Guid="29188BD1-307E-4CD0-9750-BF294FD0E902">
        <File Source="$(var.SharpPcap.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="TabControlDll" Guid="97B4B57A-C0D8-49D2-B75F-9B2B8F253A65">
        <File Source="$(var.TabControl.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ZedGraphDll" Guid="AA750DC1-73E6-4EEE-9BA4-E4CE495FA721">
        <File Source="..\..\Resources\Libraries\ZedGraph\ZedGraph.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="ZedGraphxml" Guid="5FA61E24-3D81-4FB5-9F1C-815364D02844">
        <File Source="..\..\Resources\Libraries\ZedGraph\ZedGraph.xml" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="AWSSDKDll" Guid="DBF4B812-5D46-4A8A-9777-13E21FA92C8A">
        <File Source="..\..\Resources\Libraries\AmazonS3\AWSSDK.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="EntityFrameworkdll" Guid="BA34A96D-0A5D-402E-A01C-5B20B89C4973">
        <File Source="..\packages\EntityFramework.5.0.0\lib\net40\EntityFramework.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="EntityFrameworkXml" Guid="C64657D8-F6AF-4A58-8E23-05EBFA8411C1">
        <File Source="..\packages\EntityFramework.5.0.0\lib\net40\EntityFramework.xml" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="FlickrNetdll" Guid="1A7B8896-0BCD-4B2A-BB92-D204164D010B">
        <File Source="..\..\Resources\Libraries\Flicker\FlickrNet.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="SharpZipLibdll" Guid="97DB6873-E7A3-4010-8EEB-F82D37472275">
        <File Source="..\packages\SharpZipLib.0.86.0\lib\20\ICSharpCode.SharpZipLib.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="log4netdll" Guid="B2F1F15C-34C3-453E-9521-A8F3949D99C2">
        <File Source="..\packages\log4net.2.0.8\lib\net40-full\log4net.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="log4netxml" Guid="4BDE5756-0063-42E7-8971-C46573017B2C">
        <File Source="..\packages\log4net.2.0.8\lib\net40-full\log4net.xml" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="FluentValidation" Guid="7AB26D60-C019-42F5-ADCA-F425A64D617A">
        <File Source="..\packages\FluentValidation.6.2.1.0\lib\Net45\FluentValidation.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="FluentValidationXml" Guid="42B671CD-1F35-441B-A23F-9CA352284FAA">
        <File Source="..\packages\FluentValidation.6.2.1.0\lib\Net45\FluentValidation.XML" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="TransPort2006" Guid="220FA6F3-1C60-4F32-9E82-31D635E8B551">
        <File Source="..\..\Resources\Libraries\TransPort2006\TransPort2006.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="TransPort2006Design" Guid="299E6518-5760-4C45-8E88-34B2B8ADA50A">
        <File Source="..\..\Resources\Libraries\TransPort2006\TransPort2006.Design.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Wpcapdll" Guid="F01CBCE4-5C1A-4FFB-A48D-1ECA1B933B92">
        <File Source="..\..\Resources\Libraries\wpcap\wpcap.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="Terminalslog4netConfig" Guid="EA925B16-4657-44BC-8ED8-895D2098CFA9">
        <File Source="..\Terminals\Terminals.log4net.config" KeyPath="yes"/>
      </Component>
      <!--Cant pickup from project dir, because the name is changed in target dir-->
      <Component Id="TerminalsExeConfig" Guid="417C609C-A07B-4CCB-8E2E-BADA86CA8341">
        <File Source="$(var.Terminals.TargetDir)Terminals.exe.config" KeyPath="yes"/>
      </Component>
      <Component Id="ToolStripSettingsConfig" Guid="B36A15AF-40C3-49ED-9CAB-15529527468B">
        <File Source="..\Terminals\ToolStrip.settings.config" KeyPath="yes"/>
      </Component>
      <Component Id="MainIcon" Guid="77AAEF17-7034-441B-B853-879DA390251C">
        <File Source="..\Terminals\terminalsicon.ico" KeyPath="yes"/>
      </Component>
      <Component Id="NewtonsoftJsondll" Guid="CFB96E07-01CB-42DE-949F-8CA36DA08E2C">
        <File Source="..\packages\Newtonsoft.Json.10.0.2\lib\net40\Newtonsoft.Json.dll" KeyPath="yes" Checksum="yes"/>
      </Component> 
      <Component Id="NewtonsoftJsonxml" Guid="2D006559-AE17-439A-A379-7876483CEB25">
        <File Source="..\packages\Newtonsoft.Json.10.0.2\lib\net40\Newtonsoft.Json.xml" KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="IcaComponents" Directory="ICAFOLDER">
      <Component Id="AxWFICALibDll" Guid="E3A4BF7F-538C-40F3-A5D0-736E2478E9AE">
        <File Source="..\..\Resources\Libraries\Citrix\AxWFICALib.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="WFICALibDll" Guid="3329874C-3276-4FCF-953D-67FB490F0BAF">
        <File Source="..\..\Resources\Libraries\Citrix\WFICALib.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="PluginIca" Guid="04AEC5C0-91DB-4FF4-9FBB-215ADE7AAFC6">
        <File Source="$(var.Terminals.Plugins.Ica.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="RdpComponents" Directory="RDPFOLDER">
      <Component Id="AxMSTSCLibDll" Guid="6449EDAA-0362-45BC-859D-6EFFAC7FC328">
        <File Source="$(var.Terminals.TargetDir)AxInterop.MSTSCLib.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="MSTSCLibDll" Guid="E3D11298-2D80-4650-8139-3350BB646B2C">
        <File Source="$(var.Terminals.TargetDir)MSTSCLib.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="PluginRdp" Guid="E33BF837-A732-41A7-81C4-8F90282DCBC1">
        <File Source="$(var.Terminals.Plugins.Rdp.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="VmrcComponents" Directory="VMRCFOLDER">
      <Component Id="VMRCLibDll" Guid="F9944517-DA84-4846-BF81-606494EA96FA">
        <File Source="..\..\Resources\Libraries\VMRC\AxInterop.VMRCClientControlLib.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="VMRCInterOpDll" Guid="5631D23A-0599-40FA-8937-39BC422A9377">
        <File Source="..\..\Resources\Libraries\VMRC\Interop.VMRCClientControlLib.dll" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="PluginVmrc" Guid="5486A465-AB4D-42D6-B1ED-B6C56F281429">
        <File Source="$(var.Terminals.Plugins.Vmrc.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="VncComponents" Directory="VNCFOLDER">
      <Component Id="VncSharpDll" Guid="C15DFED3-F776-43BE-90BE-483DE2D2E86E">
        <File Source="$(var.VncSharp.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="PluginVnc" Guid="81889492-DDE0-4E9A-9F9F-08352410992D">
        <File Source="$(var.Terminals.Plugins.Vnc.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="zlibNetDll" Guid="3D6ADB9B-B6B1-4D4D-964D-6EE4B261720A">
        <File Source="$(var.zlib.net.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="WebComponents" Directory="WEBFOLDER">
      <Component Id="PluginWeb" Guid="5AB65AB2-1CD3-4A65-8021-BF758CC7725A">
        <File Source="$(var.Terminals.Plugins.Web.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="PuttyComponents">
      <Component Id="puttyexe" Guid="3944DCB6-AF12-47DC-B929-90BAFAF87518" Directory="PUTTYRESOURCESFOLDER">
        <File Source="..\..\Resources\Libraries\Putty\putty.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="puttygenexe" Guid="1902333C-37A1-454E-A01D-3785C7F6DFBA" Directory="PUTTYRESOURCESFOLDER">
        <File Source="..\..\Resources\Libraries\Putty\puttygen.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="pageantexe" Guid="0C4ACBB2-9BAD-4752-9DBE-9345F89843BE" Directory="PUTTYRESOURCESFOLDER">
        <File Source="..\..\Resources\Libraries\Putty\pageant.exe" KeyPath="yes" Checksum="yes"/>
      </Component>
      <Component Id="PluginTerminal" Guid="EBACB294-80C3-4EA5-804E-62AB738BFAA9" Directory="PUTTYFOLDER">
        <File Source="$(var.Terminals.Plugins.Putty.TargetPath)" KeyPath="yes" Checksum="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>