<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--to make new release change all product id, package id and version number-->
  <Product Id="*" Name="Terminals" Language="1033" Version="3.6.1.0" Manufacturer="Robert Chartier"
           UpgradeCode="DD0D31A2-2E86-4F3F-98CE-6AED37FF24CD">
    <Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of Terminals is already installed." />
    
      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="INSTALLTYPE" Secure="yes" Value="1"></Property>
    <Icon Id="TerminalsSetupIcon" SourceFile="..\Terminals\terminalsicon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="TerminalsSetupIcon" />

    <WixVariable Id="WixUIBannerBmp" Value="WixUIBannerBmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="WixUIDialogBmp.bmp" />
    <UIRef Id="WixUI_InstallDirCustom" />

    <Media Id="1" Cabinet="TerminalsInstall.cab" EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Terminals" Level="1">
      <ComponentGroupRef Id="MainComponents" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <CustomAction Id="FinalizeCustomActionSetProperty" Return="check" Property="FinalizeCustomAction"
                  Value="LOCATION=[INSTALLFOLDER];TYPE=[INSTALLTYPE];"/>
    <!-- The custom action updates the installed files, eg. it needs elevated priviledges -->
    <Binary Id="CustomSetupAction.CA.dll" SourceFile="..\CustomSetupAction\bin\$(var.Configuration)\CustomSetupAction.CA.dll" />
    <CustomAction Id="FinalizeCustomAction" Return="check" Execute="commit" Impersonate="no" 
                  BinaryKey="CustomSetupAction.CA.dll" DllEntry="UpgradeConfigFiles" />
    <InstallExecuteSequence>
      <Custom Action="FinalizeCustomActionSetProperty" Before="InstallFiles">NOT Installed</Custom>
      <Custom Action="FinalizeCustomAction" After="FinalizeCustomActionSetProperty">NOT Installed</Custom>
    </InstallExecuteSequence>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Terminals" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="TerminalsProgramsFolder" Name="Terminals"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="TerminalsProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="42B36D8B-C5D6-493C-A794-D158800D9229">
        <Shortcut Id="ApplicationStartMenuShortcut"
             Name="Terminals" Description="Terminals is a secure, multi tab terminal services/remote desktop client."
             Target="[INSTALLFOLDER]Terminals.exe" WorkingDirectory="INSTALLFOLDER">
          <Icon Id="terminalsicon.ico" SourceFile="..\Terminals\terminalsicon.ico"/>
        </Shortcut>
        <RegistryValue Root="HKCU" Key="Software\Robert Chartier\Terminals" Name="installed"
                       Type="integer" Value="1" KeyPath="yes"/>
        <RemoveFolder Id="TerminalsProgramsFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>