<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="settings" type="Terminals.TerminalsConfigurationSection, Terminals"/>
    </configSections>
    <settings>
        <savedConnectionsList>
            <clear />
        </savedConnectionsList>
    </settings>
</configuration>