<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Data\\logs\\CurrentLog.txt" />
    <appendToFile value="true" />
    <datePattern value="yyyyMMdd" />
    <rollingStyle value="Date" />
    <filter type="log4net.Filter.LevelRangeFilter">
      <acceptOnMatch value="true" />
      <levelMin value="INFO" />
      <levelMax value="FATAL" />
    </filter>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
    </layout>
  </appender>

  <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
    <param name="RemoteAddress" value="127.0.0.1" />
    <param name="RemotePort" value="556" />
    <layout type="log4net.Layout.XmlLayout">
      <locationInfo value="true" />
    </layout>
  </appender>


  <root>
    <!--dont want to fill up the log file with ALL, so only log the FATAL items-->
    <level value="FATAL" />
    <appender-ref ref="RollingLogFileAppender" />
    <!--develper level debugging in the application-->
    <level value="ALL" />
    <appender-ref ref="UdpAppender" />
  </root>
</log4net>
