<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net40" requireReinstallation="true" />
  <package id="FluentValidation" version="6.2.1.0" targetFramework="net40" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net40" requireReinstallation="true" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
</packages>