<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="settings" type="Terminals.TerminalsConfigurationSection, Terminals"/>
    </configSections>
    <settings>
        <serversMRUList>
        </serversMRUList>
        <domainsMRUList>
        </domainsMRUList>
        <usersMRUList>
        </usersMRUList>
        <favorites>
        </favorites>
        <groups>
        </groups>
        <favoritesButtonsList>
        </favoritesButtonsList>
    </settings>
</configuration>