<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!--to make new release change all product id, package id and version number-->
  <Product Id="*" Name="Terminals" Language="1033" Version="3.3.0.0" Manufacturer="Robert Chartier"
           UpgradeCode="1010280c-d106-47d5-abea-630ebe57887d">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <!-- consider variable Id="*"-->
    <MajorUpgrade DowngradeErrorMessage="A newer version of Terminals is already installed." />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="INSTALLTYPE" Secure="yes" Value="0"></Property>

    <WixVariable Id="WixUIBannerBmp" Value="WixUIBannerBmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="WixUIDialogBmp.bmp" />
    <UIRef Id="WixUI_InstallDirCustom" />

    <Media Id="1" Cabinet="AppToInstall.cab" EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Terminals" Level="1">
      <ComponentGroupRef Id="MainComponents" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <!--TODO custom action
    <Binary Id="WixCustomAction.CA.dll" src="..\WixCustomAction\bin\$(var.Configuration)\WixCustomAction.CA.dll" />
    <CustomAction Id="FinalizeCustomAction" Return="check" Execute="immediate" BinaryKey="WixCustomAction.CA.dll" DllEntry="CustomActionEntry" />
    <InstallExecuteSequence>
      <Custom Action="FinalizeCustomAction" After="InstallFinalize">NOT Installed</Custom>
    </InstallExecuteSequence>-->
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Terminals" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="TerminalsProgramsFolder" Name="Terminals"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="TerminalsProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="42B36D8B-C5D6-493C-A794-D158800D9229">
        <Shortcut Id="ApplicationStartMenuShortcut"
             Name="Terminals" Description="Terminals is a secure, multi tab terminal services/remote desktop client."
             Target="[INSTALLFOLDER]Terminals.exe" WorkingDirectory="INSTALLFOLDER">
          <Icon Id="terminalsicon.ico" SourceFile="..\Terminals\terminalsicon.ico"/>
        </Shortcut>
        <RemoveFolder Id="TerminalsProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Robert Chartier\Terminals" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>